<template>
  <div class="affirmations-container">
    <h1>Affirmations</h1>
    <p>Les affirmations sont des déclarations positives que vous vous répétez pour améliorer votre état d'esprit et votre confiance. Voici quelques conseils :</p>
    <ul>
      <li>Écrivez des affirmations positives qui vous inspirent et vous motivent.</li>
      <li>Répétez vos affirmations chaque matin avec conviction.</li>
      <li>Croyez en ce que vous dites, même si cela semble difficile au début.</li>
      <li>Utilisez des affirmations pour surmonter les doutes et les peurs.</li>
      <li>Adaptez vos affirmations en fonction de vos objectifs et de vos besoins.</li>
    </ul>
    <div v-if="affirmation" class="random-affirmation">
      <h2>Affirmation du jour :</h2>
      <p>{{ affirmation.title }} - <strong>{{ affirmation.author }}</strong></p>
    </div>
    <FinishTask :current-date="currentDate" type="affirmations"></FinishTask>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { defineProps } from 'vue';
import FinishTask from '../components/FinishTask.vue';
import api from '../services/apiConnector.js';

const props = defineProps({
  currentDate: {
    type: String,
    default: () => new Date().toISOString().split('T')[0]
  }
});

const affirmation = ref({});

const fetchAffirmations = async () => {
  try {
    const response = await api.getAffirmation();
    affirmation.value = response;
  } catch (error) {
    console.error('Error fetching affirmations:', error);
  }
};

onMounted( () => {
  fetchAffirmations();
});
</script>

<style scoped>
.affirmations-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #005f73;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  text-align: left;
}

.random-affirmation {
  margin-top: 20px;
  background-color: #e0f7fa;
  padding: 15px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #00796b;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d40;
}
</style>
