<template>
    <div>
        <h2>Mes progrès</h2>
        <div class="navigation">
        <button @click="previousDay">Précédent</button>
        <input type="date" v-model="currentDate"/>
        <button @click="nextDay">Suivant</button>
        </div>
        <Day :current-date="currentDate" />
    </div>
</template>
  
<script setup>
import { ref } from 'vue';
import Day from '../components/Day.vue';

const currentDate = ref(new Date().toISOString().split('T')[0]);

const previousDay = () => {
    const date = new Date(currentDate.value);
    date.setDate(date.getDate() - 1);
    currentDate.value = date.toISOString().split('T')[0];
};

const nextDay = () => {
    const date = new Date(currentDate.value);
    date.setDate(date.getDate() + 1);
    currentDate.value = date.toISOString().split('T')[0];
};
</script>

<style scoped>
.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}
</style>
  