<template>
  <div>
    <h1>Exercise</h1>
    <p>L'exercice est essentiel pour maintenir un corps et un esprit sains. Voici quelques conseils pour intégrer l'exercice dans votre Miracle Morning :</p>
    <ul>
      <li>Choisissez une activité physique que vous aimez, comme la marche, la course, le yoga ou la musculation.</li>
      <li>Commencez par des séances courtes et augmentez progressivement la durée.</li>
      <li>Écoutez votre corps et ne forcez pas trop si vous êtes fatigué.</li>
      <li>Utilisez l'exercice pour vous réveiller et vous énergiser pour la journée.</li>
      <li>Adoptez une routine d'exercice régulière pour obtenir des résultats durables.</li>
    </ul>
    <FinishTask :current-date="currentDate" type="exercise"></FinishTask>
  </div>
</template>

<script setup>
import { defineProps } from 'vue';
import FinishTask from '../components/FinishTask.vue';

const props = defineProps({
    currentDate: {
    type: String,
    default: () => new Date().toISOString().split('T')[0]
 
}
});
</script>

<style scoped>
/* Ajoutez ici votre style personnalisé */
</style>
