<template>
  <div>
    <h1>Reading</h1>
    <p>La lecture est une excellente façon d'acquérir de nouvelles connaissances et d'élargir vos horizons. Voici quelques conseils pour intégrer la lecture dans votre Miracle Morning :</p>
    <ul>
      <li>Choisissez des livres qui vous inspirent et vous motivent.</li>
      <li>Lisez chaque matin pendant au moins 10 à 15 minutes.</li>
      <li>Notez les idées et les concepts importants que vous souhaitez retenir.</li>
      <li>Appliquez les leçons apprises dans votre vie quotidienne.</li>
      <li>Créez une liste de lecture pour rester motivé et organisé.</li>
    </ul>
    <FinishTask :current-date="currentDate" type="reading"></FinishTask>
  </div>
</template>

<script setup>
import { defineProps } from 'vue';
import FinishTask from '../components/FinishTask.vue';

const props = defineProps({
    currentDate: {
    type: String,
    default: () => new Date().toISOString().split('T')[0]
 
}
});
</script>

<style scoped>
/* Ajoutez ici votre style personnalisé */
</style>
