<template>
  <div>
    <h1>Scribing</h1>
    <p>Scribing, ou l'écriture, vous aide à clarifier vos pensées et à fixer vos objectifs. Voici quelques conseils pour intégrer l'écriture dans votre Miracle Morning :</p>
    <ul>
      <li>Utilisez un journal pour noter vos pensées, vos rêves et vos aspirations.</li>
      <li>Écrivez chaque matin pour organiser votre journée et fixer vos priorités.</li>
      <li>Réfléchissez à vos réussites et aux domaines où vous pouvez vous améliorer.</li>
      <li>Utilisez l'écriture pour exprimer votre gratitude et vos émotions.</li>
      <li>Relisez vos entrées précédentes pour suivre vos progrès et rester motivé.</li>
    </ul>
    <FinishTask :current-date="currentDate" type="scribing"></FinishTask>
  </div>
</template>

<script setup>
import { defineProps } from 'vue';
import FinishTask from '../components/FinishTask.vue';

const props = defineProps({
    currentDate: {
    type: String,
    default: () => new Date().toISOString().split('T')[0]
 
}
});
</script>

<style scoped>
/* Ajoutez ici votre style personnalisé */
</style>
