<template>
    <div class="silence-container">
      <h1>Silence</h1>
      <p>Le silence est une partie essentielle de votre Miracle Morning. Voici quelques conseils pour pratiquer le silence :</p>
      <ul>
        <li>Trouvez un endroit calme où vous ne serez pas dérangé.</li>
        <li>Asseyez-vous confortablement et fermez les yeux.</li>
        <li>Concentrez-vous sur votre respiration et essayez de vider votre esprit.</li>
        <li>Si des pensées surgissent, reconnaissez-les puis laissez-les partir.</li>
        <li>Commencez par quelques minutes et augmentez progressivement la durée.</li>
      </ul>
      <div class="meditation-container">
        <h2>Je veux méditer :</h2>
        <p>Suivez ces étapes pour une séance de méditation efficace :</p>
        <ol>
          <li>Asseyez-vous confortablement avec le dos droit.</li>
          <li>Fermez les yeux et commencez à respirer profondément.</li>
          <li>Concentrez-vous sur votre respiration, sentez l'air entrer et sortir.</li>
          <li>Si votre esprit vagabonde, ramenez doucement votre attention sur votre respiration.</li>
        </ol>
        <div class="timer">
          <p>Temps restant : {{ formatTime(remainingTime) }}</p>
          <button @click="startTimer" :disabled="timerActive">Démarrer la méditation</button>
          <button @click="resetTimer" :disabled="!timerActive">Réinitialiser</button>
        </div>
        <div class="sounds">
          <label for="background-sound">Son de fond :</label>
          <select id="background-sound" v-model="selectedSound" @change="playSound">
            <option value="">Aucun</option>
            <option value="birds">Chants d'oiseaux</option>
            <option value="waves">Vagues de la mer</option>
            <option value="rain">Pluie douce</option>
          </select>
        </div>
      </div>
      <FinishTask :current-date="currentDate" type="silence"></FinishTask>
    </div>
  </template>
  
  <script setup>
  import { defineProps, ref, onUnmounted } from 'vue';
  import FinishTask from '../components/FinishTask.vue';
  
  const props = defineProps({
    currentDate: {
      type: String,
      required: true,
    },
  });
  
  const remainingTime = ref(600); // 10 minutes
  const timerActive = ref(false);
  let timerInterval = null;
  
  const startTimer = () => {
    if (!timerActive.value) {
      timerActive.value = true;
      timerInterval = setInterval(() => {
        if (remainingTime.value > 0) {
          remainingTime.value--;
        } else {
          clearInterval(timerInterval);
          timerActive.value = false;
          alert('Séance de méditation terminée !');
        }
      }, 1000);
    }
  };
  
  const resetTimer = () => {
    clearInterval(timerInterval);
    remainingTime.value = 600;
    timerActive.value = false;
  };
  
  const formatTime = (time) => {
    const minutes = Math.floor(time / 60);
    const seconds = time % 60;
    return `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
  };
  
  const selectedSound = ref('');
  let audio = null;
  
  const playSound = () => {
    if (audio) {
      audio.pause();
      audio = null;
    }
    if (selectedSound.value) {
      audio = new Audio(require(`../../sounds/todo.mp3`));
      audio.loop = true;
      audio.play();
    }
  };
  
  onUnmounted(() => {
    clearInterval(timerInterval);
    if (audio) {
      audio.pause();
    }
  });
  </script>
  
  <style scoped>
  .silence-container {
    padding: 20px;
    max-width: 800px;
    margin: 32px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #005f73;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul, ol {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .meditation-container {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
  }
  
  .meditation-container h2 {
    color: #005f73;
  }
  
  .timer, .sounds {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:not(:disabled):hover {
    background-color: #004d40;
  }
  
  .sounds select {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  </style>
  