<template>
    <div>
      <h2>Ma journée</h2>
        <Day :current-date="currentDate"></Day>
    </div>
  </template>
  
<script setup>
import { defineProps } from 'vue';
import Day from '../components/Day.vue';

const props = defineProps({
    currentDate: {
    type: String,
    default: () => new Date().toISOString().split('T')[0]
 
}
});

</script>

<style scoped>
h2 {
color: #42b983;
text-align: center;
}
ul {
list-style-type: none;
padding: 0;
}
li {
margin: 10px 0;
display: flex;
align-items: center;
}
input[type="checkbox"] {
margin-right: 10px;
}
label {
font-size: 1.2em;
}
</style>
