<template>
    <div>
      <h1>Visualisation</h1>
      <p>La visualisation consiste à imaginer votre succès futur. Voici quelques conseils pour pratiquer la visualisation :</p>
      <ul>
        <li>Trouvez un endroit calme où vous pouvez vous concentrer sans distraction.</li>
        <li>Fermez les yeux et imaginez-vous atteindre vos objectifs.</li>
        <li>Visualisez les étapes spécifiques que vous devez franchir pour réussir.</li>
        <li>Ressentez les émotions positives associées à votre succès.</li>
        <li>Pratiquez la visualisation quotidiennement pour renforcer votre motivation.</li>
      </ul>
      <input type="file" @change="onFileChange" accept="image/*" multiple />
      <button @click="showModal = true">Mon tableau de visualisation</button>
      <FinishTask :current-date="currentDate" type="visualisation"></FinishTask>
  
      <!-- Modale pour afficher les images -->
      <div v-if="showModal" class="modal">
        <div class="modal-content">
          <span class="close" @click="showModal = false">&times;</span>
          <h2>Mon tableau de visualisation</h2>
          <div class="images-container">
            <div v-for="(image, index) in images" :key="index" class="image-item">
              <img :src="image.url" :alt="'Image ' + (index + 1)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script setup>
  import { defineProps, ref } from 'vue';
  import FinishTask from '../components/FinishTask.vue';
  
  const props = defineProps({
    currentDate: {
      type: String,
      default: () => new Date().toISOString().split('T')[0],
    },
  });
  
  const images = ref([]);
  const showModal = ref(false);
  
  const onFileChange = (event) => {
    const files = event.target.files;
    for (let i = 0; i < files.length; i++) {
      const reader = new FileReader();
      reader.onload = (e) => {
        images.value.push({ url: e.target.result });
      };
      reader.readAsDataURL(files[i]);
    }
  };
  </script>
  
  <style scoped>
  /* Ajoutez ici votre style personnalisé */
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
  }
  
  .image-item img {
    width: 100%;
    height: auto;
  }
  </style>
  