<template>
<div>
    <h1>Tasks for {{ currentDate }}</h1>
    <ul>
    <li v-for="task in tasks" :key="task.id">
        <input type="checkbox" :id="task.id" v-model="task.completed" @change="updateTasks" />
        <label :for="task.id">
          <router-link :to="{ name: task.label.toLowerCase() }">{{ task.label }}</router-link>
        </label>
    </li>
    </ul>
</div>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue';
import api from '../services/apiConnector.js';

const props = defineProps({
    currentDate: {
        type: String,
        required: true,
    },
});

const tasks = ref([]);

const fetchTasks = async (date) => {
try {
    const response = await api.getDay(date);
    const data = response.tasks;
    tasks.value = [
    { id: 1, label: 'Silence', completed: data.silence === 1 },
    { id: 2, label: 'Affirmations', completed: data.affirmation === 1 },
    { id: 3, label: 'Visualisation', completed: data.visualisation === 1 },
    { id: 4, label: 'Exercise', completed: data.exercice === 1 },
    { id: 5, label: 'Reading', completed: data.reading === 1 },
    { id: 6, label: 'Scribing', completed: data.writing === 1 },
    ];
} catch (error) {
    console.error('Error fetching tasks:', error);
}
};

const updateTasks = async () => {
try {
    const updatedTasks = {
    silence: tasks.value[0].completed ? 1 : 0,
    affirmation: tasks.value[1].completed ? 1 : 0,
    visualisation: tasks.value[2].completed ? 1 : 0,
    exercice: tasks.value[3].completed ? 1 : 0,
    reading: tasks.value[4].completed ? 1 : 0,
    writing: tasks.value[5].completed ? 1 : 0,
    };
    await api.updateDay(props.currentDate, updatedTasks);
} catch (error) {
    console.error('Error updating tasks:', error);
}
};

onMounted(() => {
fetchTasks(props.currentDate);
});

watch(() => props.currentDate, (newDate) => {
  fetchTasks(newDate);
});
</script>

<style scoped>
/* Ajoutez ici votre style personnalisé */
</style>
