<template>
    <div class="finish-task-container">
      <h1>J'ai terminé cette tâche ?</h1>
      <div v-if="taskCompleted">
        <p>Bravo, tu as réalisé cette tâche !</p>
      </div>
      <div v-else>
        <button @click="updateDay">Cliquez-ici</button>
      </div>
    </div>
  </template>
  
  <script setup>
  import { ref, onMounted } from 'vue';
  import api from '../services/apiConnector.js';
  
  const props = defineProps({
    currentDate: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  });
  
  const taskCompleted = ref(false);
  
  const fetchDay = async (date) => {
    try {
      const response = await api.getDay(date);
      const data = response.tasks;
      return [
        { id: 1, label: 'Silence', completed: data.silence === 1 },
        { id: 2, label: 'Affirmations', completed: data.affirmation === 1 },
        { id: 3, label: 'Visualisation', completed: data.visualisation === 1 },
        { id: 4, label: 'Exercise', completed: data.exercice === 1 },
        { id: 5, label: 'Reading', completed: data.reading === 1 },
        { id: 6, label: 'Scribing', completed: data.writing === 1 },
      ];
    } catch (error) {
      console.error('Error fetching tasks:', error);
    }
  };
  
  const updateDay = async () => {
    try {
      const tasks = await fetchDay(props.currentDate);
      const taskIndex = tasks.findIndex((task) => task.label.toLowerCase() === props.type.toLowerCase());
      if (taskIndex !== -1) {
        tasks[taskIndex].completed = true;
        const updatedTasks = {
          silence: tasks[0].completed ? 1 : 0,
          affirmation: tasks[1].completed ? 1 : 0,
          visualisation: tasks[2].completed ? 1 : 0,
          exercice: tasks[3].completed ? 1 : 0,
          reading: tasks[4].completed ? 1 : 0,
          writing: tasks[5].completed ? 1 : 0,
        };
        await api.updateDay(props.currentDate, updatedTasks);
        taskCompleted.value = true; // Mark the task as completed
      } else {
        console.error('Task not found');
      }
    } catch (error) {
      console.error('Error updating tasks:', error);
    }
  };
  
  const checkTaskCompletion = async () => {
    const tasks = await fetchDay(props.currentDate);
    const taskIndex = tasks.findIndex((task) => task.label.toLowerCase() === props.type.toLowerCase());
    if (taskIndex !== -1) {
      taskCompleted.value = tasks[taskIndex].completed;
    }
  };
  
  onMounted(() => {
    checkTaskCompletion();
  });
  </script>
  
  <style scoped>
  .finish-task-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #005f73;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #004d40;
  }
  </style>
  