/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    color: #005f73;
    text-align: center;
}

p, li {
    text-align: center;
}

.container {
    padding: 15px;
    max-width: 600px;
    margin: auto;
}

/* Header */
header {
    background-color: #0a9396;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

header h1 {
    margin: 0;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navigation button {
    background-color: #0a9396;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}

.navigation input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 220px); /* Adjusting for button width */
    margin: 0 10px;
}

/* Timer */
.timer {
    margin-top: 20px;
    text-align: center;
}

.timer p {
    font-size: 20px;
    margin: 10px 0;
}

.timer button {
    background-color: #94d2bd;
    color: #005f73;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

/* Task List */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 15px;
}

label {
    flex-grow: 1;
}

/* Sounds */
.sounds {
    margin-top: 20px;
    text-align: center;
}

.sounds label {
    font-size: 16px;
    margin-right: 10px;
}

.sounds select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73;
    color: #ffffff;
}

/* Responsive design */
@media (max-width: 600px) {
    .navigation input[type="date"] {
        width: 100%;
        margin: 10px 0;
    }

    .navigation button {
        width: 100%;
        margin-bottom: 10px;
    }
}
