<template>
    <div>
        <header>
            <h1>Miracle Habits</h1>
            <nav>
                <RouterLink :to="{ name: 'dashboard'}">Tableau de bord</RouterLink>
                <RouterLink :to="{ name: 'days'}">Mes progrès</RouterLink>
                <RouterLink :to="{ name: 'today'}">Ma journée</RouterLink>
            </nav>
        </header>
        <main>
            <RouterView />
        </main>
    </div>
</template>
<script setup>
</script>

<style>
@import url("../styles/app.css");
/* Header */
header {
    background-color: #0a9396;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

header h1 {
    text-align: center;
    margin: 48px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #005f73;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0a9396;
}

/* Responsive design */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        width: 100%;
        text-align: center;
    }
}
</style>